# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SoapyBackend.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kirinnee\Repository\Projects\HacknRoll2021\backend\SoapyBackend\.idea\.idea.SoapyBackend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
